/*
#caf0f8
#90e0ef
#00b4d8
#0077b6
#03045e
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #caf0f8;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

label {
  display: block;
}

.encurtador-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.encurtador-container h1 {
  padding-top: 50px;
}

header {
  padding: 10px 0px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 50px;
}

.long-link-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-form-container {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.input-form-container input {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #00b4d8;
  font-family: "Montserrat", sans-serif;
}

.input-form-container input:focus {
  outline: none;
  border: 2px solid #0077b6;
}

.input-form-container button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #caf0f8;
  border-radius: 8px;
  padding: 10px 14px;
  border: none;
  background-color: #0077b6;
  cursor: pointer;
}

.input-form-container button:hover {
    background-color: #026da7;
}
